.charlist {
    margin-top: 2em !important;
    width: 90%;
    min-width: 200px;
    margin-left:1em;
    display: flex;
    padding: 1.5em;
    gap: 3.5em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    flex-basis:45%;
    background-color: white;
    

    &__img {
        max-width: 6em;
        border-radius: 8px;
    }

    &__name {
        font-size: clamp(1rem, 2.5vw, 1.5rem); 
    }
}

.List {
    margin-top: 2em;
}


@media (max-width: 881px) {
    .charlist {
        flex-basis: 90%;
    }
}