.charlist {
    display: flex;
    padding: 1.5em;
    gap: 3em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin-top: 2em;
    transition: transform .4s ease-in-out;
    flex-basis: 46%;
    background-color: white;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
       
    }
    &__img {
        max-width: 6em;
        border-radius: 8px;
    }

    &__name {
        font-size: clamp(1rem, 2.5vw, 1.5rem); 
    }
}

.filter {
    display: flex;
    gap: 1em;
    &__input {
        padding: .5em 1em;
        border-bottom: 1px solid green;
    
        outline: none;
    }
    justify-content: center;
}




@media (max-width: 752px) {
    .charlist {
        flex-basis: 100%;
    }
}